.rotating-chevron {
  margin-right: 6px; // magic number

  &:before {
    display: inline-block;
    transition: all 0.2s ease;
    content: "\f054";
    font-family: FontAwesome;
    font-size: @build-failure-chevron-size;
    color: @grayLight;
    cursor: pointer;
    pointer-events: all;
  }

  &.expanded:before {
    .rotate(90);
  }
}

#container_parent {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-left: 8.5%;
  margin-right: 8.5%;
}

// Used by om frontend to hide scrollers it needs for find in firefox
#container_scroll_parent {
  // hides scrollbar on container_parent
  overflow: hidden;

  // TODO: move this into the main #container_parent when om is fully shipped
  #container_parent {
    overflow-y: hidden;
    overflow-x: scroll;
    // hides scrollbar
    margin-bottom: -25px;
    padding-bottom: 25px;
  }
}

.containers {
  z-index: 2;
}

// V2 from here on !!!!

.alert {
  margin-bottom: 15px;

  .alert-icon {
    padding-right: ((2 / 3) * 15px);
  }

  &.expanded {
    padding: 0;
    border: none;

    &.alert-danger {
      .alert-header {
        .flexy();
        background: lighten(@red, @brand-lighten-ratio-v2 * 0.66);
        border-bottom: 1px solid @red;
      }

      .source-name:after {
        content: "—";
        padding: 0 4px;
      }

      hr {
        border-top-color: @red;
      }
    }

    .alert-header {
      padding: ((2 / 3) * 15px) 15px;
      text-transform: uppercase;
    }

    .alert-body {
      padding: 15px;
    }
  }

  &.iconified {
    .flexy(row);
  }
}

@status-badge-height: 25px;

.small-emphasis {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 8px;
}

// Build page V2 stuff
.build-actions-v2 {
  .flexy(center);
  font-size: 13px;
  color: @grayDark;

  .build-action {

    .flexy();

    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }

    .dashboard-icon {
      margin-top: 2px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .cancel-build {
    margin-right: 1em;
  }

  .rebuild-container {

    @container-height: 30px;
    @container-width: 160px;
    @button-right-margin: 2px;

    margin-right: 15px;

    .button-look() {
      border: solid 1px rgba(0, 0, 0, 0.1);
      background-color: @grayLightest;

      cursor: pointer;

      &:hover {
        background: @whiten;
      }
    }

    button.rebuild {
      .button-look();

      width: @container-width - @container-height - @button-right-margin;
      height: @container-height;
      border-radius: 3px 0 0 3px;

      margin: 0 @button-right-margin 0 0;
      padding: 0;
      text-align: inherit;
      font-size: 14px;

      .rebuild-icon {
        margin: 8px 10px;
      }
    }

    .dropdown {
      .button-look();

      display: inline-block;
      width: @container-height;
      height: @container-height;
      border-radius: 0 3px 3px 0;

      vertical-align: top;
      text-align: center;

      i {
        line-height: @container-height;
        width: 100%;            // make click area full-width
      }

      .dropdown-menu {
        .button-look();

        margin-top: 3px;
        width: @container-width;

        background-color: @whiten;

        li:hover {
          background: rgba(0, 0, 0, 0.05);
        }

        a {
          padding: 3px 10px;
          color: inherit;
          background-color: inherit;
          font-size: @fontSizeSmaller;
        }
      }
    }
  }
}

.build-settings {
  .flexy(center);

  a:hover {
    text-decoration: none !important;
  }

  a:hover span {
    text-decoration: underline;
  }

  a i.material-icons {
    text-decoration: none;
    margin-right: 1ex;
  }

  a:hover i.material-icons {
    text-decoration:none;
  }
}
// Build page V2 stuff

@pills-breakpoint: @screen-xs-max;

.build-info-v2 {
  margin-top: 15px;

  .summary-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .container-selector:hover {
    text-decoration: none;
  }

  .card {
    color: @gray;

    .small-emphasis {
      color: @gray;
    }
  }
}

.container-pills-container {
  .controls {
    .flexy(stretch, flex-end, row);

    margin-bottom: 3px;

    @media (max-width: @pills-breakpoint) {
      .flexy(stretch, flex-start, row);

      label {
        display: block
      };
    }

    .filtering {
      .fancy-radio();

      font-size: 13px;

      .filter-help {
        margin-right: 10px;
      }

      label {
        padding: 6px 8px;
        margin: 0 0 12px 0;
      }
    }
  }
}

.container-list {
  display: flex;

  @media (max-width: @pills-breakpoint) {
    .flexy(flex-start, space-between, row, wrap);

    &.prev-and-next {
      .page-container-pills {
        .flex(0 0 ~"calc(50% - 1px)");
      }
    }

    .page-container-pills {
      order: -1;
      .flex(0, 0, 100%);
    }
  }
}

.container-selector {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 40px;
  cursor: pointer;

  background: @grayLightest;
  color: @grayDarker;
  font-size: 11px;
  padding: 5px;

  .container-status-icon {
    height: 14px;
    width: 14px;
  }

  & + .container-selector:not(.page-container-pills) {
    margin-left: 1px;
  }

  &.add-containers {
    .flexy(center, center);
    font-size: 18px;
    color: @white;
    background: @blueLight;

    &.upsell {
      flex-grow: 0.85;
    }
  }

  &.active {
    .invert-status-icons;
    color: @white;

    &.success {
      background-color: @green;
    }

    &.waiting {
      background-color: @purple;
    }

    &.running {
      background-color: @blueLight;
    }

    &.failed {
      background-color: @red;
    }

    &.canceled {
      background-color: @grayLight;
    }
  }

  &.page-container-pills {
    @caret-padding: 10px;

    .flexy(center, flex-start, row);

    color: @white;
    background: @gray;

    .pill-details {
      @media (max-width: @pills-breakpoint) {
        text-align: right;
      }
    }

    .nav-caret, .pill-details {
      flex-grow: 1;
    }

    .nav-caret + .pill-details {
      text-align: left;
    }

    .pill-details + .nav-caret {
      text-align: right;

      @media (max-width: @pills-breakpoint) {
        padding-left: @caret-padding;
        text-align: left;
      }
    }

    @media (max-width: @pills-breakpoint) {
      .nav-caret {
        &:first-child {
          text-align: right;
          padding-right: @caret-padding;
        }
      }
    }
  }

  .upper-pill-section {
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    & > .container-index {
      text-align: left;

    }

    & > .status-icon {
      text-align: right;
    }

    & > .container-index,
    & > .status-icon {
      flex-grow: 1;
    }

    @media (max-width: @pills-breakpoint) {
      & > .container-index,
      & > .status-icon {
        text-align: center;
      }
    }
  }

  @media (max-width: @pills-breakpoint) {
    padding: 1px;

    .upper-pill-section {
      flex-direction: column;
    }

    .lower-pill-section {
      display: none;
    }

    &.page-container-pills, &.add-containers {
      @container-pill-vertical-spacing: 5px;

      padding: 3px;

      text-align: center;

      &:first-child {
        margin-bottom: @container-pill-vertical-spacing;
      }

      &:last-child {
        margin-bottom: @container-pill-vertical-spacing;
      }
    }
  }
}

.summary-items {
  .flexy();
  margin-right: 20px;
}

.summary-build-contents {
  .flexy(stretch, flex-end, row);
  flex-grow: 2;
}

@media (max-width: @screen-sm-max) {
  .summary-header {
    .flexy(stretch, space-around, column);
  }

  .summary-items {
    .flexy(stretch, flex-start, row);
  }

  .summary-build-contents {
    .flexy(stretch, flex-start, row);
  }
}

.summary-header {
  .flexy();
  margin-bottom: 15px;

  font-size: 13px;
  color: @grayDarker;
  line-height: @status-badge-height;
}

.summary-label {
  color: @gray;
}

.summary-spacer {
  padding: 0 5px;
}

.build-commits-list {
  .build-commits-list-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .metadata-item, .commit-message {
    font-size: 13px;
    margin-right: 20px;
  }

  i.octicon {
    margin-right: 8px;
    font-size: @fontSizeLarge;
    vertical-align: middle;
    color: @grayLighter;
  }

  .chevron-label {
    color: @gray;
  }
}

.build-tests-info {
  margin-bottom: 0;
}

#container_parent {
  margin-left: 0;
  margin-right: 0;
}

.alert {
  a {
    color: @blueDark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// TODO, just remove build-head-wrapper once v2 ships
.build-head-wrapper {
  margin: 0;
  padding: 0;
}

.build-tests-summary {
  margin-bottom: 8px;
}

.build-tests-list-container {
  padding-top: 0;

  .filename {
    margin: 10px 0;
  }
}

.build-tests-list {
  margin: 0;
  counter-reset: test-list;

  li {
    margin-top: 10px;
  }
}

.build-test {
  .properties {
    .flexy(center, row);
    flex-wrap: wrap;
  }
}

.test-name {

  &:before {
    margin-left: 5px;
    content: counter(test-list) ". ";
    counter-increment: test-list;
  }
}

.test-file {
  text-align: right;
  margin-left: auto;
  padding-left: 10px;
  margin-right: 0;
  .wrap-words;
}

.build-test-output {
  margin: 10px 0;
  .wrap-words;

  .expander {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: @grayLighter;
    background-color: rgba(255,255,255, 0.2);
    .user-select(none);
  }
}

.alert {
  .build-tests-toggle {
    margin: 0;
    padding: 0;
    color: @gray;
    &:hover {
      text-decoration: none;
    }
  }
}


.build-tests-toggle-icon {
  .rotating-chevron;
}

// TODO Generalized whitespace tweak. Should be moved to
// global bootstrap override file or something.
ul:last-child {
  margin-bottom: 0;
}

.test-results {
  dl {
    padding-top: 0.2em;
    margin-bottom: 0;
  }

  dt {
    clear: both;
    float: left;

    &::after {
      content: ":";
    }
  }

  dd {
    float: left;
    padding-left: 0.5em;
  }

  .alert {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.queued-builds {
  .build {
    margin-top: (@grid-gutter-width / 2);
    margin-bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .build-info {
    padding-right: 0;
  }
}

.sub-head-ssh-info {
  p {
    margin: 0px;
    line-height: 20px;
  }
}

.ssh-nodes-list {
  list-style: none;
  padding-left: 0px;
  padding-top: 5px;
}

.ssh-node {
  @ssh-node-padding: 10px;

  .flexy(center, flex-start, row);
  border-bottom: solid 1px @grayLightest;
  padding-top:    @ssh-node-padding;
  padding-bottom: @ssh-node-padding;
}

.ssh-node:last-child {
  border-bottom: none;
}

.ssh-node-container {
  min-width: 110px;
  font-family: @monoFontFamily;
}

.ssh-node-command {
  min-width: 310px;
  font-family: @monoFontFamily;
}

.ssh-node-disabled {
  color: @grayLight;
}

.ssh-node-running-icon {
  @icon-size: 10px;

  height: @icon-size;
  width: @icon-size;
}

.circle-yml-highlight {
  color: @red;
}

.config-errors {

  .dang {
    margin-bottom: 15px;
  }

  ol {
    padding-left: 20px;
    margin-bottom: 0;

    li {

      > pre {
        margin: 10px 0 20px -20px;

        code {
          color: @red;
        }
      }

      &:last-child > pre {
        margin: 10px 0 0 -20px;
      }
    }
  }
}


.build-timings {
  .container-step-pass {
    fill: @green;
  }

  .container-step-fail {
    fill: @red;
  }

  .container-step-stop {
    fill: @grayLight;
  }

  .container-step-start-line {
    stroke: @gray;
    stroke-width: 1;
  }

  .x-axis {
    path, line {
      fill: none;
      stroke: @grayLightest;
    }
  }

  .x-axis text {
      font-size: @fontSizeSmallest;
  }

  .y-axis {
    path, line {
      display: none;
    }
  }

  .y-axis text {
      fill: @gray;
      font-size: round((@baseFontSize * 0.65), 0); // 9px
  }

  .y-axis-label {
    font-size: @fontSizeSmallest;
    fill: @gray;
  }
}


.build-config-string {
  pre {
    word-wrap: normal;

    code {
      white-space: pre;
    }
  }

}
